<script>
    $(document).ready(function() {

        function task_name_not_empty(){
            return get_new_task_name() != ''
        }

        function get_new_task_name(){
            return $('#new_task_name').val();
        }

        function post_new_task(){
            var task_name = get_new_task_name();
            $.post( "/task_crud/create/", {task_name: task_name,csrfmiddlewaretoken: '{{ csrf_token }}'}, function() {
            })
              .done(function(result) {
                window.location.reload(true);
              })
              .fail(function(result) {
                console.error(result.responseText)
              })
              .always(function(result) {

              });
        }

        $('#new_task').click(function(){
            if(task_name_not_empty()){

                post_new_task();
            }else{
                $('#new_task_name').focus();
            }

        });
    });
</script>



<nav class="navbar navbar-light bg-light">
  <form class="input-group input-group-default">
    <input id="new_task_name" class="form-control input-default col-lg-12" placeholder="Add task" aria-label="Add task">
      <div id="new_task" class="btn btn-outline-primary">
        <span><i class="fas fa-plus"></i>  Submit</span>
    </div>
  </form>
</nav>