<script>

    function get_task_field_holder(clickable_task){
        return $(clickable_task).parent();
        var action = $(component).attr('action');
        return action;
    }
    function get_editable_task(task_holder){
        return $(task_holder).find(".editable_task");
    }
    function swap_visibility(clickable_task, editable_task){
        $(clickable_task).toggle();
        $(editable_task).toggle();
    }
    function get_clickable_task(task_holder){
        return $(task_holder).find(".clickable_task");
    }
    function reset_editable_task(editable_task, clickable_task){
        $(editable_task).val($(clickable_task).text());
    }
    function swap_visibility_and_focus(clickable_task, editable_task){
        $(clickable_task).toggle();
        $(editable_task).toggle( "fast", function(event) {
            handle_propagation(event);
            $(editable_task).focus();
          });

    }
    function handle_propagation(event){
        event = event || window.event;
        if(event != undefined){
            if (typeof event.stopPropagation != "undefined") {
                event.stopPropagation();
            } else {
                event.cancelBubble = true;
            }
        }

    }

    $(document).ready(function(event) {
        $('.clickable_task').click(function(event){
            handle_propagation(event);
            task_holder = get_task_field_holder(this);
            editable_task = get_editable_task(task_holder);
            swap_visibility_and_focus(this, editable_task);
        });

    });
</script>

<div class="clickable_task_holder" task_id="{{task_id}}">
    <span class="clickable_task">-{{task_name}}</span>

    <form class="editable_task input-group input-group-default" style="display: none;">
        <input class="form-control input-default col-lg-12" value="{{task_name}}">
    </form>
</div>

