<script>
    function get_action_name(component){
        var action = $(component).attr('action');
        return action;
    }
    function get_task_id(component){
        var action = $(component).attr('task_id');
        return action;
    }

    $(document).ready(function() {
        $('.task_action').click(function(){

            var action_name = get_action_name($(this));
            var task_id = get_task_id($(this));

           $.post( "/task_crud/"+action_name+"/", {task_id: task_id, csrfmiddlewaretoken: '{{ csrf_token }}'}, function() {
            })
              .done(function(result) {

              })
              .fail(function(result) {
                console.error(result.responseText)
              })
              .always(function(result) {

              });
        });
    });



</script>

<div class="row" task_id="{{single_task.id}}">
    <div class="col-2">
        {{single_task.owner.username}}
    </div>
    {% if single_task.owner.username == user.username %}
    <div class="col-8">
        {{single_task.name}}
    </div>
    <div class="col-1">
        <i action="delete" task_id="{{single_task.id}}" class="btn task_action fas fa-trash-alt"></i>
    </div>
    {% else %}
    <div class="col-9">
        {{single_task.name}}
    </div>
    {% endif %}
    <div class="col-1">
        {% if single_task.is_done %}
        <i action="undone" task_id="{{single_task.id}}" class="btn task_action far fa-check-square"></i>
        {% else %}
        <i action="done" task_id="{{single_task.id}}" class="btn task_action far fa-square"></i>
        {% endif %}
    </div>
</div>

