

<tr task_id="{{single_task.id}}" class="d-flex">
    <td class="col-1">
        {{single_task.owner.username}}
    </td>
    <td class="col-7">
        <span class="task_name">{{single_task.name}}</span>
    </td>
    {% if single_task.owner.username == user.username %}
        <td class="col-1">
            <i action="delete" task_id="{{single_task.id}}" class="btn task_action fas fa-trash-alt"></i>
        </td>
        <td class="col-1">
            <i action="edit" task_id="{{single_task.id}}" class="btn edit_task_action far fa-edit"></i>
        </td>
    {% else %}
        <td class="col-1"></td>
        <td class="col-1"></td>
    {% endif %}

    {% if single_task.is_done %}
    <td class="col-1">
        <i action="undone" task_id="{{single_task.id}}" class="btn task_action far fa-check-square"></i>
    </td>
    <td class="col-1">
        {{single_task.marked_done_by.username}}
    </td>
    {% else %}
    <td class="col-1">
        <i action="done" task_id="{{single_task.id}}" class="btn task_action far fa-square"></i>
    </td>
    <td class="col-1">
    </td>
    {% endif %}
</tr>

