<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{section_owner_title}}</h5>
        <div class="card-text">
            <table class="table table-hover">
                <thead>
                <tr class="d-flex">
                    <th class="col-1">Owner</th>
                    <th class="col-7">Description</th>
                    <th class="col-1">Delete</th>
                    <th class="col-1">Edit</th>
                    <th class="col-1">Status</th>
                    <th class="col-1 text-nowrap">Done by</th>
                </tr>
                </thead>
                <tbody>
                {% for task in task_list %}
                    {% include "partials/single_task.html" with single_task=task %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>