{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<script language="JavaScript">
    function get_action_name(component){
        var action = $(component).attr('action');
        return action;
    }
    function get_task_id(component){
        var action = $(component).attr('task_id');
        return action;
    }
    function get_task_parent_row(component){

    }

    function get_task_name(column_component){
        var task_parent = $(column_component).closest('tr');
        return $(task_parent).find('.task_name').text();
    }

    $(document).ready(function() {
        $('.task_action').click(function(){

            var action_name = get_action_name($(this));
            var task_id = get_task_id($(this));

           $.post( "/task_crud/"+action_name+"/", {task_id: task_id, csrfmiddlewaretoken: '{{ csrf_token }}'}, function() {
            })
              .done(function(result) {
                window.location.reload(true);
              })
              .fail(function(result) {
                console.error(result.responseText)
              })
              .always(function(result) {

              });
        });

        $(".edit_task_action").click(function(){
            var task_id = get_task_id($(this));
            var name = get_task_name(this);

            $('#modal_edit_window').modal('toggle');
            $('#modal_task_id').val(task_id);
            $('#modal_edit_input').val(name);

        });

        $('#modal_edit_window').on('shown.bs.modal', function () {
          $('#modal_edit_input').trigger('focus')
        });

    });
</script>

<div class="container">
    <div class="card pt-5">
        {% include "partials/add_task.html" %}


        <div class="card-body">
            <div class="pt-5">
                {% include "partials/task_list_section.html" with section_owner_title='My tasks' task_list=filtered_tasks.my_tasks %}
            </div>
            <div class="pt-5">
                {% include "partials/task_list_section.html" with section_owner_title="Everyone else's tasks" task_list=filtered_tasks.others_tasks %}
            </div>
        </div>


    </div>
</div>

{% include "partials/modal_edit.html" %}

{% endblock content %}