{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<script>
    function get_action_name(component){
        var action = $(component).attr('action');
        return action;
    }
    function get_task_id(component){
        var action = $(component).attr('task_id');
        return action;
    }

    $(document).ready(function() {
        $('.task_action').click(function(){

            var action_name = get_action_name($(this));
            var task_id = get_task_id($(this));

           $.post( "/task_crud/"+action_name+"/", {task_id: task_id, csrfmiddlewaretoken: '{{ csrf_token }}'}, function() {
            })
              .done(function(result) {
                window.location.reload(true);
              })
              .fail(function(result) {
                console.error(result.responseText)
              })
              .always(function(result) {

              });
        });
    });
</script>

<div class="container">
    <div class="card pt-5">
        {% include "partials/add_task.html" %}


        <div class="card-body">
            <div class="pt-5">
                {% include "partials/task_list_section.html" with section_owner_title='My tasks' task_list=filtered_tasks.my_tasks %}
            </div>
            <div class="pt-5">
                {% include "partials/task_list_section.html" with section_owner_title="Everyone else's tasks" task_list=filtered_tasks.others_tasks %}
            </div>
        </div>


    </div>
</div>


{% endblock content %}